<!DOCTYPE html>
<html class="">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>
    <%= Title %>
  </title>

  <!-- Standard Favicon -->
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

  <!-- bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- For iPhone 4 Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="assets/images/apple-touch-icon-114x114-precomposed.png" />

  <!-- For iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/apple-touch-icon-72x72-precomposed.html" />

  <!-- For iPhone: -->
  <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-57x57-precomposed.png" />

  <!-- Custom - Theme CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
  <!-- Loader -->
  <div id="site-loader" class="load-complete">
    <div class="loader">
      <div class="loader-inner ball-clip-rotate">
        <div></div>
      </div>
    </div>
  </div>
  <!-- Loader /- -->

  <!-- Top Header  -->
  <div class="top-header container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <ul class="contact">
        <li>
          <a href="tel: +234 803-890-3631" title="+234 803-890-3631"><i class="fa fa-phone"
              aria-hidden="true"></i>Phone: +234
            803-890-3631</a>
        </li>
      </ul>
      <div class="social-icons pull-right">
        <ul>
          <li>
            <a title="Twitter" href="https://twitter.com/EstherAkunekwe"><i class="fa fa-twitter"
                aria-hidden="true"></i></a>
          </li>
          <li>
            <a title="Instagram" href="https://www.instagram.com/chefcherry14/"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </li>
          <li>
            <a title="Facebook" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Container /- -->
  </div>
  <!-- Top Header /- -->

  <!-- Header -->
  <header class="header-main header-position container-fluid no-padding">
    <!-- Menu Block -->
    <div class="menu-block container-fluid no-padding">
      <div class="container">
        <!-- Navigation -->
        <nav class="navbarr ow-navigation">
          <div class="navbarr-header">
            <button aria-controls="navbarr" aria-expanded="false" data-target="#navbarr" data-toggle="collapse"
              class="navbarr-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbarr-brand" href="/" title="Logo">
              <h3>
                Chef<span class="custom_brand-logo">
                  <img src="assets/images/logo.png" alt="" width="80">
                </span>Cherry
              </h3>
            </a>
          </div>
          <div class="menu-bar">
            <a href="#" title="Close" id="menu-popup"><i class="fa fa-bars"></i></a>
          </div>
          <div class="navbarr-collapse collapse navbarr-right" id="navbarr">
            <ul class="nav navbarr-nav menubar">
              <li <% if (Title==='Home' ) { %>class="active" <% }%> >
                  <a href="/">Home</a>
              </li>
              <li><a href="#about-section" title="About">My Story</a></li>
              <li <% if (Title==='Portfolio' ) { %>class="active" <% }%>>
                  <a href="/portfolio" title="Gallery">Portfolio</a>
              </li>
              <li <% if (Title==='Contact' ) { %>class="active" <% }%>>
                  <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Navigation /- -->
      </div>
    </div>
  </header>